@{
    ViewBag.Title = "About Zaker.com";
}
<h2>@ViewBag.Title</h2>
<h3>This is Education WebSite...</h3>

<p>We've brought this website for the students of the Faculty Of Science Suez Canal University Mathematics Department. Zaker has been made to be a reference to all the subjects of the department.</p>
<br />
<a href="https://icecode.herokuapp.com/" class="btn btn-primary btn-sm btn-lg">About Us</a>