@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us</h2>

<address>
    IceCode.Co<br />
    Software service Company<br />
    <abbr title="Phone">Youssef Mohamed P:</abbr>
   +20 1067952340<br />
    <abbr title="Phone">Zeyad Mohamed P:</abbr>
    +20 1020622808<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:icecode2022@gmail.com">icecode2022@gmail.com</a><br />
</address>