@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="opacity: 0.8;">
    <h1>ZA<strong>K</strong>ER.com</h1>
    <p class="lead">
        This site is made to collect most of the subjects data of the department To facilitate the learning process for department's students
    </p>
    @*@Html.ActionLink("Log In...", "Login", "Account", new { area = "" }, new { @class = "btn btn-primary btn-lg" })*@

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Subjects...</h2>
        <p>
            Here you can find most of the department's subjects.
            We are working on the rest of the subjects :)
        </p>
        @Html.ActionLink("Subjects", "Index", "Subjects", new { area = "" }, new { @class = "btn btn-primary btn-sm btn-lg" })
    </div>
    @*<div class="col-md-4">
            <h2>Log In...</h2>
            <p></p>
            @Html.ActionLink("Log In", "Login", "Account", new { area = "" }, new { @class = "btn btn-primary btn-sm btn-lg" })
        </div>*@
<div class="col-md-4">
    <h2>Saved Subjects</h2>
    <p>
        There is Subjects that you had been saved from exsisting subjects at site.
    </p>
     @Html.ActionLink("Saved Subjects", "Index", "favs", new { area = "" }, new { @class = "btn btn-primary btn-sm btn-lg" })
    
</div>
    <div class="col-md-4">
        <h2>About us...</h2>
        <p>
            We're a software company that focuses on empowering small businesses with business automation tools
        </p>
        <p><a href="https://icecode.herokuapp.com/" class="btn btn-primary btn-sm btn-lg">About Us</a></p>
    </div>
</div>
